
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  color: #111827;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  font-weight: 500;
  color: #1c2740;
  text-decoration: none;
}

a:hover {
  color: #1c2740;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1c2740;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #1c2740;
  background-color: #1c2740;
}
